/* Reset styles */
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 36px;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: inherit;
}
form {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.searchInput {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.searchInput::placeholder {
  color: #808080;
}

.searchInput:hover {
  border: 1px solid #000;
  outline: none;
}

.searchInput:active,
.searchInput:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.submitBtn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
